footer.main-footer
	.container
		.footer-top
			.footer-top__logo
				a(class="main-logo__link" href="index.html")
					img(class="main-logo__img" alt="alinex logo" src="images/main-logo.png")
			nav.footer-top__nav
				ul.footer-nav__list
					-
						var items = 
						[
							'Найти исполнителя',
							'Оставить заявку']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
				ul.footer-nav__list
					-
						var items = 
						[
							'Найти заказ',
							'Школа ремонта']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
				ul.footer-nav__list
					-
						var items = 
						[
							'Обратная связь',
							'Карта сайта']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
			.footer-top__copyright
				| ©
		.footer-bottom
			h3.footer-bottom__title
				| Мастера по ремонту
			nav.footer-bottom__nav
				ul.footer-nav__list
					-
						var items = 
						[
							'Благоустройство территории',
							'Бурение скважин',
							'Возведение стен и перегородок',
							'Вывоз мусора',
							'Геодезические работы',
							'Декоирование интерьера',
							'Демонтаж сооружений и кострукций',
							'Дизайн интерьера',
							'Другие услуги',
							'Земляные работы',
							'Изготовление и монтаж конструкций']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
				ul.footer-nav__list
					-
						var items = 
						[
							'Изготовление и ремонт мебели',
							'Изготовление рекламы',
							'Изоляционные работы',
							'Кладка печей, каминов. барбекю',
							'Клининг',
							'Ландшафтный дизайн',
							'Малярные и штукатурные работы',
							'Межевание и кадастр',
							'Мелкий бытовой ремонт']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
				ul.footer-nav__list
					-
						var items = 
						[
							'Монтаж вентиляции и кондиционеров ',
							'Монтаж канализации ',
							'Монтаж окон',
							'Монтаж потолков',
							'Монтаж систем отопления и водоснабжения ',
							'Монтаж труб ',
							'Наружное освещение',
							'Обшивка стен',
							'Оклейка обоями',
							'Остекление балконов и лоджий',
							'Переезд']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item
				ul.footer-nav__list
					-
						var items = 
						[
							'Благоустройство территории',
							'Бурение скважин',
							'Возведение стен и перегородок',
							'Вывоз мусора',
							'Геодезические работы',
							'Декорирование интерьера',
							'Демонтаж сооружений и конструкций ',
							'Дизайн интерьера ',
							'Другие услуги',
							'Земляные работы ',
							'Изготовление и монтаж металлоконструкций']
					each item in items
						li.footer-nav__item
							a(class="footer-nav__link" href="#")= item

